h3{color: blueviolet;}
button{background-color:gold;
    color: cadetblue;}
body{background-color: rgb(150, 194, 49);}
.joker{color: rgb(61, 211, 141);}
#dd {color: brown;}
#ff {color: blue;}
div {background-color: blue;}
.heading{color: red;}
#fog{background-color: blueviolet;}
#css{font-size: larger;
    font-style:initial;
    text-align: center;
    text-transform: capitalize;

}
#ug{font-family: 'Times New Roman', Times, serif;}
#out{font-size: 25px;}
#in{font-size: 10px;}